html,
body {
  height: 100%;
}

body {
  background-color: #282C31;
}

.pad {
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 15px !important;
}

#hald {
  border: 1px solid red;
}

.preview {
  width: calc(100% - 530px);
  margin: 0 auto;
}

.controls,
.debug {
  position: fixed;
  top: 0;
  width: 270px;
  padding: 20px;
  background-color: white;
  height: 100%;
  background-color: #282C31;
}

.controls {
  left: 0;
}
.control{

    border-radius: 4px;
    color: white;

      margin-bottom: 25px;
}

.debug {
  display: none;
}



#preview-img,
#debug-canvas {
  opacity: 0;
}

.fas {
  padding-right: 5px;
}

.btn-outline-secondary{
  background: #46474E;
  border: none;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/* thumb */
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #46474E;
  cursor: pointer;
  display: block;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
border: 0;
height: 20px;
width: 20px;
border-radius: 50%;
background: #46474E;
cursor: pointer;
display: block;
}

.slider{
    border-radius: 20px;
    height: 22px;
    background-color: #0C0E19;
}
